@model Modelo.Nucleo.Geral.GlResposta<Modelo.SchoolUp.Custom.CmHorarioTurno>

@{
    ViewBag.TituloPagina = "Tempo";
    ViewBag.TituloSecaoHtml = "<i class='glyphicon glyphicon-book text-success'></i>&nbsp;&nbsp;Tempo";
    ViewBag.Action = "Cadastro";
    ViewBag.View = "HorarioTurno";
}

<link href="~/lib/data-tables/datatables.min.css" rel="stylesheet" />
<link href="~/lib/data-tables/DataTables-1.10.20/css/dataTables.bootstrap4.css" rel="stylesheet" />

<script src="~/lib/data-tables/datatables.min.js"></script>
<script src="~/lib/data-tables/DataTables-1.10.20/js/jquery.dataTables.min.js"></script>
<script src="~/lib/data-tables/DataTables-1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script src="~/lib/data-tables/Buttons-1.6.1/js/dataTables.buttons.min.js"></script>
<script src="~/lib/data-tables/Buttons-1.6.1/js/buttons.bootstrap4.min.js"></script>
<script src="~/lib/data-tables/Buttons-1.6.1/js/buttons.html5.min.js"></script>
<script src="~/js/indexHorarioTurno.js"></script>

<div class="form-group">
    @if (ViewBag.Perfil.Contains("SCHOOLUP_ADMIN"))
    {
        <a href="@Url.Action("Cadastro")" onclick="ProcessandoIndex(); return true;" class="col-md-2 btn btn-success">
            <i class="far fa-file"></i>&nbsp;&nbsp;Novo Tempo
        </a>
    }
    <div id="DivProcessandoIndex" class="col-md-2 invisible">
        <img src="~/images/carregandoGrande.gif" alt="Carregando" />
    </div>
</div>

<div id="DivMensagem">
    @{
        Html.RenderPartial("JanelaMensagem");
    }
</div>
<input id="HdnPrefixoFileName" type="hidden" value="Aluno" name="HdnPrefixoFileName" />

@{
    if (Model.Dados?.Count > 0)
    {
        <div class="card">
            <div class="body">
                <div class="table table-striped w-auto">
                    <table id="GridIndex" class="table table-bordered table-striped table-hover dataTable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Dados.FirstOrDefault().Nome)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Dados.FirstOrDefault().NomeTurno)
                                </th>
                                <th class="d-none d-sm-table-cell">
                                    @Html.DisplayNameFor(model => model.Dados.FirstOrDefault().Inicio)
                                </th>
                                <th class="d-none d-sm-table-cell">
                                    @Html.DisplayNameFor(model => model.Dados.FirstOrDefault().Termino)
                                </th>
                                <th style="width:100px!important" class="mx-auto"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Dados)
                            {
                                <tr class="btnExcluir" id="@item.Id" data-id="@item.Id">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nome)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NomeTurno)
                                    </td>
                                    <td class="d-none d-sm-table-cell">
                                        @{
                                            string inicio = item.Inicio.HasValue ? string.Format("{0:hh\\:mm}", item.Inicio.Value) : "";
                                            @Html.DisplayFor(modelItem => inicio)
                                        }
                                    </td>
                                    <td class="d-none d-sm-table-cell">
                                        @{
                                            string termino = item.Termino.HasValue ? string.Format("{0:hh\\:mm}", item.Termino.Value) : "";
                                            @Html.DisplayFor(modelItem => termino)
                                        }
                                    </td>
                                    <td style="width:100px!important" align="center">
                                        <a href="@Url.Action("Cadastro", new { id=item.Id })" onclick="ProcessandoIndex(); return true;" class="btn btn-info">
                                            <i class="far fa-edit"></i>
                                        </a>
                                        <button type="button" class="btn btn-danger btnExcluir">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
    else
    {
        <p>
            @ViewBag.LblMensagem
        </p>
    }
}

@{
    Html.RenderPartial("JanelaConfirmacao");
}