@{
    ViewData["Title"] = ViewBag.TituloPagina;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="text-info">@Html.Raw(@ViewBag.TituloSecaoHtml)</h4>
<hr />

@Html.AntiForgeryToken()
<div id="DivConteudo">
    <section>
        <div class="content-fluid">
            @*<div class="col-md-11 col-md-offset-1">*@
            <form id="formPrincipal" asp-action="@ViewBag.Action" data-ajax="true" data-ajax-method="POST" data-ajax-begin="onBegin" data-ajax-complete="onComplete"
                  data-ajax-mode="replace" data-ajax-update="#DivMensagem">
                <div id="DivMensagem">
                    @{
            Html.RenderPartial("JanelaMensagem");
                    }
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @RenderBody()
                <br />
                <div class="form-row col-md-12 center-block text-center" style="text-align:center;">
                    <button id="BtnCadastroGravar" value="Gravar" class="btn btn-primary col-md-1 BtnCadastro" >
                        <i class="glyphicon glyphicon-save"></i>&nbsp;&nbsp;Gravar
                    </button>
                    <a id="BtnVoltarGrade" name="BtnVoltarGrade" href="@Url.Action("Grade")" formnovalidate="formnovalidate" onclick="ProcessandoCadastro(); return true;" class="btn text-info col-md-1 BtnCadastro">
                        <i class="glyphicon glyphicon-backward"></i>&nbsp;&nbsp;Voltar
                    </a>
                    <div id="DivProcessandoCadastro" class="col-md-2 invisible">
                        <img src="~/images/carregandoGrande.gif" alt="Carregando" />
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>

@section Scripts {
    <script src="~/js/cadastro.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @RenderSection("ScriptsFilho", required: false)
}