@model Modelo.Nucleo.Geral.GlResposta<Modelo.SchoolUp.Custom.CmProfessorDisciplina>


<link href="~/lib/data-tables/datatables.min.css" rel="stylesheet" />
<link href="~/lib/data-tables/DataTables-1.10.20/css/dataTables.bootstrap4.css" rel="stylesheet" />

<script src="~/lib/data-tables/datatables.min.js"></script>
<script src="~/lib/data-tables/DataTables-1.10.20/js/jquery.dataTables.min.js"></script>
<script src="~/lib/data-tables/DataTables-1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script src="~/lib/data-tables/Buttons-1.6.1/js/dataTables.buttons.min.js"></script>
<script src="~/lib/data-tables/Buttons-1.6.1/js/buttons.bootstrap4.min.js"></script>
<script src="~/lib/data-tables/Buttons-1.6.1/js/buttons.html5.min.js"></script>
<script src="~/js/grade.js"></script>

@{
    if (Model.Dados?.Count > 0)
    {
        <div class="body">
            <div class="table table-striped w-auto">
                <table id="GridIndex" class="table table-bordered table-striped table-hover dataTable">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(modelItem => Model.Dados.FirstOrDefault().NomeDisciplina)</th>
                            <th style="width:50px!important" class="mx-auto"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Dados)
                        {
                            <tr class="btnExcluir" id="@item.Id" data-id="@item.Id">
                                <td>
                                    @Html.DisplayFor(modelItem => item.NomeDisciplina)
                                </td>
                                <td style="width:50px!important" align="center">
                                    <button type="button" class="btn btn-danger btnExcluirLinha">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <p>
            @ViewBag.LblMensagemDisciplina
        </p>
    }
}

@{
    Html.RenderPartial("JanelaConfirmacaoGrade");
}